@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
@utility container-1 {
  margin-inline: auto;
  padding-inline: 2rem;
  width: 1300px;
}
@theme {
  --font-poppins: "Poppins", sans-serif;
}

@theme {
  --color-green: #009e66;
  --color-sencond: #9f9f9f;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: rgb(219, 219, 219);
}
::-webkit-scrollbar-thumb{
  background: rgb(119, 119, 119); 

}

/* Common css start */
section{
  background-color: rgb(24, 24, 24);
  height: 100%;
}
.text p{
  border-bottom: 2px solid rgba(255, 255, 255, .08);
  padding-bottom: 29px;
}
/* core animated bar */
.animated-bar{
  position: relative;
  display: block;
  width: 75px;
  height: 4px;
  background-color: #009e66;
  border-radius: 2px;
  overflow: hidden;
}
.animated-bar::before,
.animated-bar::after{
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #101010;
  will-change: transform;
  animation: barAnimation 3s linear infinite;
}

.animated-bar::before { left: 8px; animation-delay: 0s; }
.animated-bar::after  { left: 0px; animation-delay: 0s; }

@keyframes barAnimation{
  0%   { transform: translateX(0); }
  100% { transform: translateX(75px); }
}
/* core animated bar */

/* Common css end */

/* Navbar css start */
/* General Styles */
.navbar {
    width: 100%;
    background: transparent;
    color: #fff;
    padding: 35px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
  }
  
  .navbar-item {
    margin-left: 1.5rem;
  }
  
  .navbar-link {
    color: #e6e6e6;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease;
    font-family: "Poppins", serif;
  }
  

  /* Hamburger Menu (Mobile) */
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .navbar-toggle {
      display: flex;
    }
  
    .navbar-menu {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: -100%;
      width: 100%;
      background-color: #333;
      transition: 0.5s;
    }
  
    .navbar-menu.active {
      left: 0;
    }
  
    .navbar-item {
      margin: 1rem 0;
      text-align: center;
    }
  
    .navbar-link {
      padding: 1rem;
      display: block;
    }
  }
/* Navbar css end */

/* Home css start */
.home {
    position: relative;
    width: 100%;
    /* height: 747px; */
    background-color: rgba(0, 0, 0, 0.855);
    overflow: hidden;
}
.home_animation {
    /* position: relative; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.855);
    animation: home 1s linear;
    transform: translateY(100%);
    z-index: 999;
}

@keyframes home {
    0%{
        transform: translateY(-100%);
    }
}
/* Home css end */

/* Banner css start */
#banner{
    background-image: url(../public/images/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(var(--vh, 1vh)* 100);
    position: relative;
    overflow: hidden;
    /* padding: 100px; */
}
#banner::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .40;
    z-index: 2;
}

#banner .text{
  width: 100%;
  z-index: 11;
position: absolute;
top: -10px;
left: 0;
text-align: center;
}

.icons{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}
/* Banner css end */

/* Typing effect css start */
.typing-effect {
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    padding-top: 12px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    color: white;
  }
  
  .cursor {
    display: inline-block;
    width: 10px;
    background-color: black;
    animation: blink 0.8s step-start infinite;
  }
  
  @keyframes blink {
    50% {
      background-color: transparent;
    }
  }
/* Typing effect css end */

/* About css start */
.about {
    position: relative;
    width: 100%;
    /* height: 747px; */
    overflow: hidden;
}
/* About css end */